
/* styrer kortene (ramme, skygge, fontstil). */
.card {
  background-color: #849999 ;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  overflow: hidden;                      
  display: flex;
  flex-direction: row;
  padding: 1rem;
  z-index: 1;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
   width: 700px;       
  height: auto;  
  flex: 0 0 auto;
  margin-bottom: 1rem;
  /* margin: 0 auto;  */
}

.imageWrapper{
  flex: 0 0 180px;
  height: 180px;
  overflow: hidden;
  border-radius: 9px;
  margin-right: 1rem; 
}


.imageWrapper img {
  width: 100%;
  height: 100%;
  border-radius: 9px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.3s ease-in-out;
}

.imageWrapper img:hover {
  transform: scale(1.05);
}


.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  flex: 1;
  text-align: left; 
}

.title {
  font-family: garamond;
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  text-align: left;
}

.ingredients{
    color: black;
      text-align: left;
    margin-bottom: 0.5rem;

}



.price{
    font-weight: bold;
    color: #0b4c25;
    margin: 0.5rem 1rem;
    text-align: left;
}

.footer {
  display: flex;
  justify-content: flex-end;
}


.divider {
  margin: 0.5rem 0;
  border-top: 1px solid #ccc;
}