.navbar {
  background-color:linear-gradient(90deg, #0b4c25, #f1a9a9);
  color: #F3E8D8;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  height: 200px;
  width: auto;
  
  
}

.links {
  font-family: garamond;
  color: rgb(209, 200, 200);
  display: flex;
  gap: 1rem;
}

